name: ${DOCKER_PROJECT_NAME}
networks:
  theorem-library: null
services:
  dependency-service:
    build:
      additional_contexts:
      - common=./common
      context: ./dependency-service
      dockerfile: Dockerfile
    container_name: dependency-service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
    - POSTGRES_USER=${POSTGRES_USER}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      interval: 1s
      retries: 10
      start_period: 1s
      test:
      - CMD
      - httpx
      - http://localhost:8000/health
      timeout: 1s
    networks:
    - theorem-library
    ports:
    - 8001:8000
    restart: unless-stopped
  latex-service:
    build:
      additional_contexts:
      - common=./common
      context: ./latex-service
      dockerfile: Dockerfile
    container_name: latex-service
    depends_on:
      pdf-service:
        condition: service_healthy
      postgres:
        condition: service_healthy
    environment:
    - POSTGRES_USER=${POSTGRES_USER}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      interval: 1s
      retries: 10
      start_period: 1s
      test:
      - CMD
      - httpx
      - http://localhost:8000/health
      timeout: 1s
    networks:
    - theorem-library
    ports:
    - 8004:8000
    restart: unless-stopped
  nginx:
    depends_on:
      dependency-service:
        condition: service_healthy
      latex-service:
        condition: service_healthy
      pdf-service:
        condition: service_healthy
      verification-service:
        condition: service_healthy
    image: nginx:latest
    networks:
    - theorem-library
    ports:
    - 80:80
    volumes:
    - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
  pdf-service:
    build:
      additional_contexts:
      - common=./common
      context: ./pdf-service
      dockerfile: Dockerfile
    container_name: pdf-service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
    - SERVICES_PDF_SERVICE_BASE=${SERVICES_PDF_SERVICE_BASE}
    healthcheck:
      interval: 1s
      retries: 10
      start_period: 1s
      test:
      - CMD
      - httpx
      - http://localhost:8000/health
      timeout: 1s
    networks:
    - theorem-library
    ports:
    - 8003:8000
    restart: unless-stopped
  postgres:
    command:
    - postgres
    - -c
    - log_destination=stderr
    - -c
    - logging_collector=off
    - -c
    - log_line_prefix='[%m][postgres            ][%e]'
    - -c
    - log_timezone=UTC
    container_name: postgres
    environment:
    - POSTGRES_USER=${POSTGRES_USER}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    - POSTGRES_DB=${POSTGRES_DATABASE}
    healthcheck:
      interval: 1s
      retries: 10
      start_period: 1s
      test:
      - CMD
      - pg_isready
      - -U
      - postgres
      timeout: 1s
    image: postgres:18
    networks:
    - theorem-library
    ports:
    - 8000:${POSTGRES_PORT}
    restart: unless-stopped
    volumes:
    - pgdata:/var/lib/postgresql
  rabbitmq:
    container_name: rabbitmq
    healthcheck:
      interval: 1s
      retries: 10
      start_period: 1s
      test:
      - CMD
      - rabbitmq-diagnostics
      - -q
      - ping
      timeout: 1s
    image: rabbitmq:4-management
    networks:
    - theorem-library
    ports:
    - 8006:5672
    - 8007:15672
    restart: unless-stopped
    volumes:
    - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
  verification-service:
    build:
      additional_contexts:
      - common=./common
      context: ./verification-service
      dockerfile: Dockerfile
    command:
    - python
    - main_fastapi.py
    container_name: verification-service
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
    - POSTGRES_USER=${POSTGRES_USER}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      interval: 1s
      retries: 10
      start_period: 1s
      test:
      - CMD
      - httpx
      - http://localhost:8000/health
      timeout: 1s
    networks:
    - theorem-library
    ports:
    - 8002:8000
    restart: unless-stopped
  verification-task:
    build:
      additional_contexts:
      - common=./common
      context: ./verification-task
      dockerfile: Dockerfile
    deploy:
      replicas: 0
  verification-worker:
    build:
      additional_contexts:
      - common=./common
      context: ./verification-service
      dockerfile: Dockerfile
    command:
    - celery
    - --app
    - main_celery
    - worker
    - --loglevel=info
    container_name: verification-worker
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
    - POSTGRES_USER=${POSTGRES_USER}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      interval: 1s
      retries: 10
      start_period: 1s
      test:
      - CMD
      - celery
      - inspect
      - ping
      - --app
      - tasks.add
      timeout: 1s
    networks:
    - theorem-library
    ports:
    - 8008:8000
    restart: unless-stopped
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
volumes:
  pgdata: null
