name: ${PROJECT_NAME}

services:
  postgres:
    image: postgres:18
    container_name: postgres
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "8000:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    restart: unless-stopped
    command: |
      postgres
      -c log_destination=stderr
      -c logging_collector=off
      -c log_line_prefix='[%m][postgres            ][%e] '
      -c log_timezone=UTC
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - theorem-library
  dependency-service:
    build:
      context: ./dependency-service
      additional_contexts:
        - common=./common
      dockerfile: Dockerfile
    container_name: dependency-service
    ports:
      - "8001:8000"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "httpx", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - theorem-library
  verification-service:
    build:
      context: ./verification-service
      additional_contexts:
        - common=./common
      dockerfile: Dockerfile
    command: ["python", "main_fastapi.py"]
    container_name: verification-service
    ports:
      - "8002:8000"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "httpx", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - theorem-library
  verification-worker:
    build:
      context: ./verification-service
      additional_contexts:
        - common=./common
      dockerfile: Dockerfile
    command: ["celery", "--app", "main_celery", "worker", "--loglevel=info"]
    container_name: verification-worker
    ports:
      - "8008:8000"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - VERIFICATION_TASK_NAME=${VERIFICATION_TASK_NAME}
      - PROJECT_NAME=${PROJECT_NAME}
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "celery", "inspect", "ping", "--app", "tasks.add"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - theorem-library
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  verification-task:
    build:
      context: ./verification-task
      additional_contexts:
        - common=./common
      dockerfile: Dockerfile
    deploy:
      replicas: 0
    container_name: verification-task
    networks:
      - theorem-library
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    volumes:
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
    ports:
      - "8006:5672"
      - "8007:15672"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    networks:
      - theorem-library
  pdf-service:
    build:
      context: ./pdf-service
      additional_contexts:
        - common=./common
      dockerfile: Dockerfile
    container_name: pdf-service
    ports:
      - "8003:8000"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "httpx", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - theorem-library
  latex-service:
    build:
      context: ./latex-service
      additional_contexts:
        - common=./common
      dockerfile: Dockerfile
    container_name: latex-service
    ports:
      - "8004:8000"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - PDF_SERVICE_BASE=http://pdf-service:8000
    depends_on:
      postgres:
        condition: service_healthy
      pdf-service:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "httpx", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - theorem-library
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - theorem-library
    depends_on:
      dependency-service:
        condition: service_healthy
      verification-service:
        condition: service_healthy
      pdf-service:
        condition: service_healthy
      latex-service:
        condition: service_healthy

volumes:
  pgdata:

networks:
  theorem-library: